{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}
<!-- Password reset Section -->
<div class="container">
	<div class="row justify-content-center">
		<div class="card text-white bg-dark ">
			<div class="card-header">
				<h3 class="display-4">Reset your password</h3>
			</div>
			<div class="card-body">
				<form method="post" class="accountform">
					<p class="lead">Please specify your email address to receive instructions for resetting it.</p>
					<br>
					<div style="display:none">
						<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
						{{ form.email.errors }}
						<p class="lead"><label for="id_email" class="control-label required-field">E-mail address:</label>
							{{ form.email }} </p>
						<button class ="btn" type="submit">Submit request</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}