{% extends 'base.html' %}
{% block content %}
<div>
	<div class="card">
		<p class="review-text like-text lead"></p>
		<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="View and purchase"
			href="{% url 'new_post' %}">Create a new voucher
		</a>
	</div>
</div>
<div class="container">
	<div class="row">
		{% for post in posts %}
		<div class="card-deck col-xs-12 col-md-6">
			<div class="card text-white bg-dark ">
				<img class="card-img-top img-fluid default-image" src="/media/{{ post.image }}" alt="Product image">
				<div class="card-header">
					<div class="card-title">
						<a class="lead" data-toggle="tooltip" data-placement="top" title="View and purchase"
							href="{% url 'post_detail' post.id %}">{{post.title}}</a>
					</div>
					<div class="row review-text lead">

						<p>Price: £{{ post.price }}</p>
						<p>Views: {{post.views}}</p>
						<p>Tags: {{ post.tag }}</p>
					</div>
					<div class="card-body">
						<p class="review-text lead">{{ post.content|truncatewords:30 }}</p>
					</div>
					<div class="card-footer">
						<p class="review-text like-text lead"></p>
						<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="View and purchase"
							href="{% url 'post_detail' post.id %}">
							<i class="material-icons">shopping_basket</i>
						</a>
						<p>Listed on: {{ post.listed_date }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}