{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}


<div class="jumbotron main-image">
	<div class="card main-card">
		<h1 class="display-4 links">Golf Vouchers</h1>
		<p class="lead links">Golf can be an expensive sport to play. Let us help with that!</p>
		<p class="lead links">Everything on Golf Vouchers is brand new and available at a reduced price. We even have a
			sale
			section for further reductions.
		</p>
	</div>
</div>
{% if user.is_staff %}
<div class="container">
	<p class="lead">Admin Section</p>
	<a class="btn " data-toggle="tooltip" data-placement="top" title="Create new product"
		href="{% url 'new_post' %}">New Product
	</a>
	{% endif %}
	<div class="row no-gutters justify-content-center">
		<div class="col-xs-12 col-md-6">
			<p class="lead">Filter your results</p>
			<button id= "get_filters" class = "btn" >Show Filters</button>
			<form id ="view_filters" method="GET" enctype="multipart/form-data">
				{{ post_filter.form | as_bootstrap_inline}}
				<button class="btn btn-primary" type="submit">Search</button>
				<a class="btn " data-toggle="tooltip" data-placement="top" title="Refresh filters"
					href="{% url 'get_posts' %}">Refresh
				</a>
			</form>

		</div>
	</div>
	<div class="row">
		{% for post in posts %}
		<div  class="card-deck col-xs-12 col-md-6 col-lg-4">
			<div id="posts" class="card">
                <a href="{% url 'post_detail' post.id %}">
				<img class="card-img-top img-fluid img-post" src="{{ MEDIA_URL }}{{ post.image }}" alt="Product image" >
                </a>
				<div class="card-header">
					<div class="card-title">
						<a class="lead links" data-toggle="tooltip" data-placement="top" title="View and purchase"
							href="{% url 'post_detail' post.id %}">{{post.title}}</a>
					</div>
					<div class="row review-text lead">
						<p class="lead links">£{{ post.price }}</p>
					</div>
				</div>
			</div>

		</div>

		{% endfor %}
	</div>
	<div class="row justify-content-center">
		<nav aria-label="Pagination">
			<ul class="pagination mt-5">
				{% if posts.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
				</li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="?page=1">First</a></li>
				<li class="page-item disabled"><a class="page-link" href="?page=1">Previous</a></li>
				{% endif %}
				{% if posts.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Last</a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="?page=1">Next</a></li>
				<li class="page-item disabled"><a class="page-link" href="?page=1">Last</a></li>
				{% endif %}
			</ul>

		</nav>

	</div>
	<div class="row justify-content-center">
		<p class="lead"> Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
	</div>
	{% endblock %}