{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		{% for post in posts %}
		<div class="card-deck col-xs-12 col-md-6">
			<div class="card text-white bg-dark ">
				<img class="card-img-top img-fluid default-image" src="/media/{{ post.image }}" alt="Product image">
				<div class="card-header">
					<div class="card-title">
						<a class="lead" data-toggle="tooltip" data-placement="top" title="View and purchase"
						href="{% url 'post_detail' post.id %}">{{post.title}}</a>
					</div>
					<div class="row review-text lead">Listed on: {{ post.listed_date }}</div>
					<div class="row review-text lead">Price: £{{ post.price }}</div>
					<div class="row review-text lead">Views: {{post.views}}</div>
					<div class="row review-text lead">Tags: {{ post.tag }}</div>
				</div>
				<div class="card-body">
					<p class="review-text lead">{{ post.content|truncatewords:30 }}</p>
				</div>
				<div class="card-footer">
					<p class="review-text like-text lead"></p>
					<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="View and purchase"
						href="{% url 'post_detail' post.id %}">
						<i class="material-icons">shopping_basket</i>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="/media/img/profile.jpg" class="img-circle">
                </a>
                <p><span class="boldtext">Author:</span></p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p><span class="boldtext">Price:</span> {{ post.price }}</p>
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Listed on:</span> {{ post.listed_date }} </p>
                        <p><span class="boldtext">Views:</span> {{post.views}}</p>
                        <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}