{% extends 'base.html' %}
{% block content %}    

 <div class="row">
        <div class="col-sm-10 col-md-9">
            {% if post.image %}
                <img class="img-post" src="{{ MEDIA_URL }}{{ post.image }}">
            {% endif %}
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.listed_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-default">Back to GolfVouchers</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Purchase</a>
                    {% if user.is_staff %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Voucher</a>
                    {% endif %}
                    <hr>
                </div>
                <form method="post" action="{% url 'add_to_cart' post.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="99" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}