/*.navbar-form input, .form-inline input {
    width: auto;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand{
    padding: 10px 10px;
}

*/
@import url('https://fonts.googleapis.com/css?family=Numans');

/* --- Global styles --- */

.jumbotron {
    background-image: url("https://golfvouchers.s3-eu-west-1.amazonaws.com/static/media/img/st_andrews.jpg");
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
}

.fab {
margin-left: 5px;
margin-right: 5px;
}

html { position: relative; min-height: 100%; }

.my-5 {
    border-color: #636363;
}
.no-gutters {
    margin-bottom: 2%;
}

.form-inline {
    margin: 1%;
}

/* --- Card styles --- */

.main-card {
    color: #D7E5E4;
}

.card{
opacity: 0.9;
margin: 5%;
background-color: white; !important;
border-color: #F8F8F8;
}

.card-alt{
opacity: 0.9;
margin: 5%;
background-color:#707070 !important;
border-color: white;

}

.card-header {
    color: whitesmoke;
}

.card-footer {
    color: whitesmoke;
}

.card-deck {
    margin: 0;
}

.card-img-top {
    max-width: 100%;
    height: 27vh;
}

/* --- Button and Form styles --- */

.btn{
color: white;
background-color: #2F7320;
border-color: #2F7320;
width: 150px;
height: 40px;
padding: 5px;
margin: 5px;
}

.btn:hover{
color: #2F7320;
background-color: white;
border-color:#2F7320;
}

.post-card:hover{
color: #2F7320;
background-color: white;
border-color:#2F7320;
}

.filters-btn {
    max-width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.btn-icon {
    padding-left: 5%;
    margin: 0 auto;
}

.btn-cancel:hover{
color: rgb(121, 120, 120);
background-color: white;
border-color: rgb(121, 120, 120)
}

.btn-cancel-white {
    color: black;
    background-color:whitesmoke);
    border-color: black;
    width: 150px;
    height: 40px;
    padding: 5px;
}

.btn-cancel-white:hover{
color: rgb(121, 120, 120);
background-color: white;
border-color: rgb(121, 120, 120)
}

.filters {
    min-width: 200px;
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}

/* --- Text styles --- */

.review-text{
    margin: auto;
    padding: .5%;
    font-size: 15px;
}

.intro-light {
    color: #CDCDCD;
    margin: 5px;
    padding: 2px;
}

.like-text {
    margin-bottom: 5px;
    margin-left: 5px;
}

.links{
color: #383838;
}

.links:hover {

color: #2F7320;
}

/* --- Images and Icons --- */

.affiliate-img {
    height: 50px;
    width: 160px;
    padding: 2px;
}

.login-icon {
    font-size: 20px;
}


.login {
    padding: 2%;
}

.login-nav {
    padding-right: 2px;
    color: #383838;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    margin: 1%;
}

.img-post {

    height: 25vh;
    width: 25vh;
}

.cart-img {

    height: 10vh;
    width: 10vh;
}

.cart-icon {

    height: 15px;
    width: 15px;
    color: white;
}

.navbar-brand {

    color: white;
}
