{% extends 'base.html' %}
{% block page_title %}Login Page {% endblock %}

{% block page_heading %}User Login {% endblock %}

{% block content %}


{% if messages %}
<div>
	{% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}

<div class="container">
	<div class="row justify-content-center">
		<div class="card text-white bg-dark ">
			<div class="card-header">
				<h3 class="display-4">Sign In</h3>
			</div>
			<!-- Login Section -->
			<div class="card-body">
				<form method="POST">
					{% csrf_token %}
					{{ login_form }}
					<button class ="btn" type="submit">Login</button>
				</form>
			</div>
			<div class="card-footer">
				<div class="row d-flex no-gutters justify-content-center">
					<p class="lead"><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<p class="lead">New to Golf Vouchers?<p>
	</div>
	<div class="row justify-content-center">
		<a class="btn" href="{% url 'register' %}">Create an account</a></li>
	</div>
</div>
{% endblock %}