{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page {% endblock %}

{% block page_heading %}User Registration {% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="card text-white bg-dark ">
			<div class="card-header">
				<h3 class="display-4">Register with GolfVouchers</h3>
			</div>
			<!-- Registration Section -->
			<div class="card-body">

				<form method="POST">
					{% csrf_token %}
					{{ registration_form.as_p }}
					<button class = "btn" type="submit">Register</button>
				</form>
			</div>
			<div class="card-footer">
				<div class="row d-flex no-gutters justify-content-center">
					<a href="{% url 'password_reset' %}"><p class="lead">Forgotten your password?</p></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}