{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
	<p class="lead mt-5">Your Shopping Basket</p>
	<hr>
	{% for item in cart_items %}
	<div class="row no-gutters mt-2">
		<div class="col-xs-12 col-md-4">
			<img class="cart-img" src="{{ MEDIA_URL }}{{ item.product.image }}"/></div>
			<div class="col-xs-12 col-md-4">
				<p class="mt-4 lead">{{ item.product.title }}</p>
			</div>
            <div class="col-xs-12 col-md-4">
			<form class="mt-4 form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
				{% csrf_token %}
				<input name="quantity" value = {{item.quantity}} type="number" min="0" max="99" class="form-control">
				<button type="submit" class="btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend Qty</button>
			</form>
            </div>
		</div>
		<hr>
		{% empty %}
		<div class="row justify-content-center">
			<p class="mt-5 lead">Cart is Empty</p>
		</div>
		{% endfor %}

		{% if total == 0 %}
		{% else %}
		<p class="mt-1 lead">Total: £{{ total }}</p>
		<a href="{% url 'checkout' %}" class="btn btn-success" role="button">Go to Payment</p></a>
		{% endif %}
	</div>

	{% endblock %}