{% autoescape off %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1>Thank you for your order!</h1>
	<p class="lead">Dear {{ user }},</p>

	<p class="lead">Thank you for your order. Your order number is {{orders.id}}</p>

	<p class="lead">Payment has been successful. A summary of your order is below:
	</p>

    {% for product in products %}

    <p class="lead">{{product.quantity}} x {{product.title}} @ £{{product.price}}</p>

    {% endfor %}

    <p class="lead">Sub Total: £{{total}}</p>

    <p class="lead">Delivery Address:</p>
    
    <p class="lead">{{orders.street_address_1}} {{orders.street_address_2}}</p>
    <p class="lead">{{orders.postcode}}</p>



	<p class="lead">Best,</p>

	<p class="lead">The Golf Vouchers Team.</p>

</body>

</html>
{% endautoescape %}