{% autoescape off %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1>Thank you for your order!</h1>
	<p>Dear {{ user }},</p>

	<p>Thank you for your order.</p>

	<p>Payment has been successful. A summary of your order is below:
	</p>
    Order Number:   {{products.id}}
    Order Date: {{products.date}}
    Name:       {{products.first_name}} {{products.last_name}}
    Address:    {{products.street_address_1}} {{products.street_address_2}}
    Town/City:  {{products.town_or_city}}
    County:     {{products.county}}
    Postcode:   {{products.postcode}}
    Order Total:    £{{total}}


	<p>Best,</p>

	<p>The Golf Vouchers Team.</p>

</body>

</html>
{% endautoescape %}