{% autoescape off %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1>Thank you for your order!</h1>
	<p>Dear {{ user }},</p>

	<p>Thank you for your order.</p>

	<p>Payment has been successful. A summary of your order is below:
	</p>

	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Order Number</th>
				<th>Order Date</th>
				<th>Name</th>
				<th>Address</th>
				<th>Town/City</th>
				<th>County</th>
				<th>Postcode</th>
				<th>Order Total</th>
			</tr>
		</thead>
        <tbody>
        <tr>
        <th>{{products.id}}</th>
        <th>{{products.date}}</th>
        <th>{{products.first_name}} {{products.last_name}}</th>
        <th>{{products.street_address_1}} {{products.street_address_2}}</th>
        <th>{{products.town_or_city}}</th>
        <th>{{products.county}}</th>
        <th>{{products.postcode}}</th>
        <th>£{{total}}</th>
        </tr>
        </tbody>

		<p>Best,</p>

		<p>The Golf Vouchers Team.</p>

</body>

</html>
{% endautoescape %}